<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bond Thickness</key>
	<real>0.08</real>
	<key>Bond Color</key>
	<array>
		<integer>64</integer>
		<integer>64</integer>
		<integer>64</integer>
	</array>
	<key>Element Max Bond Length</key>
	<dict>
		<key>H</key>
		<dict>
			<key>H</key>
			<real>0.9</real>
			<key>B</key>
			<real>1.4</real>
			<key>C</key>
			<real>1.3</real>
			<key>N</key>
			<real>1.2</real>
			<key>O</key>
			<real>1.2</real>
			<key>F</key>
			<real>1.1</real>
			<key>Si</key>
			<real>1.7</real>
			<key>P</key>
			<real>1.64</real>
			<key>S</key>
			<real>1.54</real>
			<key>Cl</key>
			<real>1.5</real>
			<key>Ge</key>
			<real>1.73</real>
			<key>As</key>
			<real>1.72</real>
			<key>Sn</key>
			<real>1.9</real>
			<key>Br</key>
			<real>1.6</real>
			<key>Se</key>
			<real>1.66</real>
			<key>I</key>
			<real>1.8</real>
			<key>Te</key>
			<real>1.9</real>
		</dict>
		<key>B</key>
		<dict>
			<key>O</key>
			<real>1.95</real>
		</dict>
		<key>C</key>
		<dict>
			<key>C</key>
			<real>1.74</real>
			<key>N</key>
			<real>1.67</real>
			<key>O</key>
			<real>1.63</real>
			<key>F</key>
			<real>1.55</real>
			<key>Si</key>
			<real>2.05</real>
			<key>P</key>
			<real>2.04</real>
			<key>S</key>
			<real>2.02</real>
			<key>Cl</key>
			<real>1.97</real>
			<key>Ge</key>
			<real>2.15</real>
			<key>Sn</key>
			<real>2.36</real>
			<key>Br</key>
			<real>2.14</real>
			<key>Se</key>
			<real>1.66</real>
			<key>I</key>
			<real>2.34</real>
		</dict>
		<key>N</key>
		<dict>
			<key>N</key>
			<real>1.65</real>
			<key>O</key>
			<real>1.63</real>
			<key>F</key>
			<real>1.55</real>
			<key>P</key>
			<real>2.04</real>
			<key>S</key>
			<real>2.02</real>
			<key>Cl</key>
			<real>1.97</real>
		</dict>
		<key>O</key>
		<dict>
			<key>O</key>
			<real>1.68</real>
			<key>F</key>
			<real>1.62</real>
			<key>S</key>
			<real>1.83</real>
			<key>Cl</key>
			<real>1.95</real>
			<key>Br</key>
			<real>2.04</real>
			<key>I</key>
			<real>2.3</real>
			<key>Si</key>
			<real>2.4</real>
		</dict>
		<key>F</key>
		<dict>
			<key>F</key>
			<real>1.62</real>
			<key>I</key>
			<real>2.1</real>
			<key>P</key>
			<real>1.8</real>
		</dict>
		<key>S</key>
		<dict>
			<key>Fe</key>
			<real>2.7</real>
		</dict>
		<key>Cl</key>
		<dict>
			<key>Cl</key>
			<real>2.2</real>
			<key>I</key>
			<real>2.52</real>
		</dict>
		<key>Br</key>
		<dict>
			<key>Br</key>
			<real>2.48</real>
		</dict>
		<key>I</key>
		<dict>
			<key>I</key>
			<real>2.9</real>
		</dict>
		<key>Fe</key>
		<dict>
			<key>C</key>
			<integer>2</integer>
			<key>O</key>
			<integer>2</integer>
			<key>N</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>Element Colors</key>
	<dict>
		<key>Kr</key>
		<array>
			<integer>26</integer>
			<integer>218</integer>
			<integer>235</integer>
		</array>
		<key>Xe</key>
		<array>
			<integer>26</integer>
			<integer>218</integer>
			<integer>235</integer>
		</array>
		<key>Ar</key>
		<array>
			<integer>26</integer>
			<integer>218</integer>
			<integer>235</integer>
		</array>
		<key>Ne</key>
		<array>
			<integer>26</integer>
			<integer>218</integer>
			<integer>235</integer>
		</array>
		<key>He</key>
		<array>
			<integer>26</integer>
			<integer>218</integer>
			<integer>235</integer>
		</array>
		<key>F</key>
		<array>
			<integer>38</integer>
			<integer>194</integer>
			<integer>129</integer>
		</array>
		<key>Cl</key>
		<array>
			<integer>38</integer>
			<integer>194</integer>
			<integer>129</integer>
		</array>
		<key>Br</key>
		<array>
			<integer>184</integer>
			<integer>60</integer>
			<integer>33</integer>
		</array>
		<key>I</key>
		<array>
			<integer>118</integer>
			<integer>53</integer>
			<integer>104</integer>
		</array>
		<key>P</key>
		<array>
			<integer>222</integer>
			<integer>105</integer>
			<integer>14</integer>
		</array>
		<key>S</key>
		<array>
			<integer>222</integer>
			<integer>208</integer>
			<integer>63</integer>
		</array>
		<key>B</key>
		<array>
			<integer>222</integer>
			<integer>121</integer>
			<integer>96</integer>
		</array>
		<key>H</key>
		<array>
			<integer>220</integer>
			<integer>220</integer>
			<integer>220</integer>
		</array>
		<key>C</key>
		<array>
			<integer>150</integer>
			<integer>150</integer>
			<integer>150</integer>
		</array>
		<key>N</key>
		<array>
			<integer>34</integer>
			<integer>167</integer>
			<integer>240</integer>
		</array>
		<key>O</key>
		<array>
			<integer>220</integer>
			<integer>48</integer>
			<integer>35</integer>
		</array>
		<key>Li</key>
		<array>
			<integer>187</integer>
			<integer>87</integer>
			<integer>225</integer>
		</array>
		<key>Be</key>
		<array>
			<integer>3</integer>
			<integer>166</integer>
			<integer>120</integer>
		</array>
		<key>Mg</key>
		<array>
			<integer>3</integer>
			<integer>166</integer>
			<integer>120</integer>
		</array>
		<key>Ca</key>
		<array>
			<integer>3</integer>
			<integer>166</integer>
			<integer>120</integer>
		</array>
		<key>Sr</key>
		<array>
			<integer>3</integer>
			<integer>166</integer>
			<integer>120</integer>
		</array>
		<key>Ba</key>
		<array>
			<integer>3</integer>
			<integer>166</integer>
			<integer>120</integer>
		</array>
		<key>Fe</key>
		<array>
			<integer>230</integer>
			<integer>128</integer>
			<integer>20</integer>
		</array>
		<key>Ra</key>
		<array>
			<integer>3</integer>
			<integer>166</integer>
			<integer>120</integer>
		</array>
		<key>Na</key>
		<array>
			<integer>187</integer>
			<integer>87</integer>
			<integer>225</integer>
		</array>
		<key>K</key>
		<array>
			<integer>187</integer>
			<integer>87</integer>
			<integer>225</integer>
		</array>
		<key>Rb</key>
		<array>
			<integer>187</integer>
			<integer>87</integer>
			<integer>225</integer>
		</array>
		<key>Cs</key>
		<array>
			<integer>187</integer>
			<integer>87</integer>
			<integer>225</integer>
		</array>
		<key>Fr</key>
		<array>
			<integer>187</integer>
			<integer>87</integer>
			<integer>225</integer>
		</array>
		<key>Si</key>
		<array>
			<integer>220</integer>
			<integer>135</integer>
			<integer>94</integer>
		</array>
	</dict>
	<key>Element Radius</key>
	<dict>
		<key>H</key>
		<real>0.2</real>
		<key>He</key>
		<real>0.25</real>
		<key>Li</key>
		<real>0.3</real>
		<key>Be</key>
		<real>0.3</real>
		<key>B</key>
		<real>0.4</real>
		<key>C</key>
		<real>0.4</real>
		<key>N</key>
		<real>0.4</real>
		<key>O</key>
		<real>0.4</real>
		<key>F</key>
		<real>0.3</real>
		<key>Ne</key>
		<real>0.3</real>
		<key>Na</key>
		<real>0.5</real>
		<key>Mg</key>
		<real>0.5</real>
		<key>Al</key>
		<real>0.5</real>
		<key>Si</key>
		<real>0.5</real>
		<key>P</key>
		<real>0.5</real>
		<key>S</key>
		<real>0.5</real>
		<key>Cl</key>
		<real>0.5</real>
		<key>Ar</key>
		<real>0.4</real>
		<key>K</key>
		<real>0.5</real>
		<key>Ca</key>
		<real>0.5</real>
		<key>Sc</key>
		<real>0.5</real>
		<key>Ti</key>
		<real>0.5</real>
		<key>V</key>
		<real>0.5</real>
		<key>Fe</key>
		<real>0.6</real>
		<key>Br</key>
		<real>0.6</real>
		<key>I</key>
		<real>0.7</real>
		<key>Rb</key>
		<real>0.6</real>
		<key>Ce</key>
		<real>0.7</real>
		<key>Ba</key>
		<real>0.7</real>
	</dict>
</dict>
</plist>
